/*top*/
*{
    box-sizing: border-box
}
nav.top {
    padding-bottom: 2px;
    background-color: #000000;
}
nav.top span {
    margin-right: 20px;
}
nav.top span, nav.top a {
    color: #999;
    margin: 0px 10px 0px 10px;
}

nav.top a:hover {
    color: #C40000;
}

div{display: block}

.homebody{
    background-color: #eee;
}
/*homePage*/
div.homePage{
    width:100%;
    float:left;
}
div.homeLeft{
    margin-left:0;
    padding-top:5px;
    margin-right:220px;
    min-height:800px;
    overflow: hidden;
}
aside.homeRight{
    margin-left:-220px;
    width:200px;
    position:relative;
    padding-top:5px;
    float:left;
}

/*carousel*/
div.carousel-of-product {
    width: 860px;
    height: 360px;
    margin:0px auto;
}
div.carousel-inner div.item img{
    /* 	width:100%; */
}
img.carouselImage {
    width:860px !important;
    height: 360px !important;
}

/*brandRight*/
div.brand-right{
    background-color: #e1e4e8;
    display: block;
    float: left;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
}
div.brand-right  ul{
     padding: 10px 0;
     border-bottom: 1px dashed #e9e9e9;
     margin-bottom: -1px;
     overflow: hidden;
 }
div.brand{
     width: 198px;
     height: 38px;
     border-bottom: 1px solid #e5e5e5;
     border-top: 1px solid #e5e5e5;
     font-size: 18px;
     line-height: 38px;
     background-color: #f9f9f9;
     text-indent: 18px;
 }
div.brand-right ul li{
    list-style:none;
    font-size: 14px;
    line-height: 30px;
    text-indent: 18px;
}
div.brand-right ul li a{
    color: #626262;
    cursor: pointer;
}
div.brandRight ul li a:hover{
    color: #996600;
}
div.brand-right ul li a i{
    font-weight: bold;
    padding: 0 10px 0 0;
    text-align: center;
    text-transform: uppercase; /*大写*/
}

/*search*/
div.searchbox{
    background-color: #e1e4e8;
    /*clear: both; !*规定元素的哪一侧不允许其他浮动元素*!*/
    margin-bottom:10px;
    position:relative;
}
h3.title{
    border-bottom: 2px solid #eee;
    padding-top: 2px;
    /*margin: 0;*/
    line-height: 32px;
    font-size: 20px;
}
.title strong{
    border-bottom:2px solid  #346387;
    display: inline-block;
    position: relative;
    botton:-2px;
}
form.search-form{
    padding: 7px 0 0 0;
    position: relative;
}
form.search-form  input.form-control{
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    background-color: #fff;
    border-right: none;
    padding: 5px 5px 5px 10px;
}
.btn{
    background-color: #346387;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width:70px;
    padding:6px;
}

/*products*/


div.homePageProducts{
    background-color:#eee;
    padding: 10px 10px 50px 10px;
    margin: 10px auto;
    max-width: 1013px;
}
div.homePageEachBrand{
    margin: 0px 0px 40px 0px;
}
div.homePageBrandName{
    display: inline-block;
}
div.left-mark {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 5px;
    background-color: #19C8A9;
}
span.brandTitle{
    font-size: 16px;
    margin-left: 30px;
    color: #646464;
    font-weight: bold;
}
div.productItem {
    width: 232px;
    height: 385px;
    margin: 8px 4px;
    float: left;
    cursor: pointer;
}
div.productItem img{
    width: 232px;
    height: 300px;
}
div.productItem img:hover{
    background: #000;
    opacity: .5;
}
a.productItemDescLink {
    display: inline-block;
    height: 66px;
}
div.productItem:hover {
    border: 1px solid white;
}
div.productItem span.productItemDesc {
    font-size: 12px;
    color: #666666;
    display: block;
    padding: 16px;
    text-align: center;
}
div.productItem span.productPrice {
    font-size: 16px;
    color: #FF003A;
    display: block;
    padding-left: 16px;
    margin-top: -10px;
    text-align: center;
}
/*brand*/
.brandBody{
    background-color: #eee;
}


/*cultureNavigator*/
div.brandNavigator{
    margin-top:0px;
    padding-left:50px;
}
a.brandImgAndName{
    position:relative;
    cursor: pointer;
    text-align: center;
    padding-left:10px;
    text-decoration: none;
}
a.brandImgAndName span{
    font-size: 15px;
    color: 	#646464;
    margin-right: 200px;
}
span.navigatorText{
    font-size: 22px;
    font-weight: bold;
    padding-right: 30px;
}
span.navigatorText a{
    color: #708090;
    cursor: pointer;
    text-decoration: none;
}
span.navigatorText a:hover{
    color: orange;
}

/*culture*/

div.brandCulture{

}
div.cultureSubTitle{
    color: #999;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding-left:50px;
}
div.cultureText{
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 28px;
    text-align: justify;
    color:black;
    padding-left:50px;
    padding-right:50px;
}
div.cultureText textarea{
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 300px;
    border:none;
    background-color:#eee;
}
/*brandProduct*/

div.brandProducts{
    padding:3px 50px 3px 50px;
}

/*categoryBar*/

div.categoryBox{
    position:relative;
    margin-left:5px;
    margin-right:100px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    background-color: #F5F5F5;
}
div.categoryBox dl{
    position: relative;
    border-top: 1px dotted #c9c9c9;
    padding: 10px 0 0px 5px;
    margin-bottom: 10px;
    display: block;
}
div.categoryBox dl dt{
    position: absolute;
    font-size: 15px;
}
div.categoryBox dl dd{
    position: relative;
    margin-left: 66px;
    zoom: 1;
}
div.categoryBox dl dd a{
    text-decoration: none;
    color:black;
}
div.categoryBox dl dd a:hover{
    background-color: #773b09;
    cursor: pointer;
}
a.grayColumn{
    background-color: #708090;
}

table.categorySortBarTable td.priceMiddleColumn {
    width: 10px;
    vertical-align: middle;
    color: black;
    font-weight: bold;
}

/*login */


img.loginBackgroundImg{
    position:relative;
    display: block;
    margin: 0px auto;
}

div.loginDiv{
    text-align: center;
}
div.loginSmallDiv{
    display:block;
    width:350px;
    height:350px;
    padding:60px 25px 80px 25px;
    border: 1px solid #d8dee2;
    margin:0 auto;
}
div.login_acount_text{
    color: #3C3C3C;
    font-size: 16px;
    font-weight: bold;
}
div.loginInput{
    border: 1px solid #000000;
    margin: 20px 0px;
}
div.loginInput span, div.loginInput input{
    display: inline-block;
    border: 0px solid transparent;
    width: 254px;
    height: 40px;
    position: relative;
}
div.loginInput span.loginInputIcon {
    margin-right: -2px;
    background-color: #CBCBCB;
    width: 40px;
    height: 40px;
}
div.loginInput span.loginInputIcon span.glyphicon {
    font-size: 22px;
    position: relative;
    left: 9px;
    margin-top:2px;
    color: #606060;
}


button.sign-in-button{
    margin-top: 20px;
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #42c02e;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
}
button.sign-in-button span #sign-in-loading{
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 2px;
    display: none;
}
div.loginErrorMessageDiv{
    position:absolute;
    width:300px;
    top:70px;
    visibility: hidden;
}
div.loginErrorMessageDiv div.alert{
    padding: 5px !important;
}


/*register*/

div.registerSmallDiv{

    width:350px;
    height:450px;
    padding:60px 25px 80px 25px;
    border: 1px solid #d8dee2;
    margin:0 auto;
}


table.registerTable{
    text-align: center;
    color: #3C3C3C;
    table-layout: fixed;
}

table.registerTable td {
    /* 	border:1px dotted skyblue !important; */
    padding-top:10px;
}

td.registerTip {
    font-weight: bold;
}
td.registerTableLeftTD {
    width: 300px;
    text-align: right;
    padding-right: 5px;
}

td.registerTableRightTD {
    width: 300px;
    text-align: left;
}
table.registerTable input {
    border: 1px solid #DEDEDE;
    width: 213px;
    height: 36px;
    font-size: 14px;
}

div.registerErrorMessageDiv {
    position:absolute;
    width:300px;
    top:70px;
    visibility: hidden;
}
div.registerErrorMessageDiv div.alert{
    padding: 5px !important;
}

div.registerButtonTD {
    text-align: center;
    padding-top:10px;
}
div.registerButtonTD input{
    border: 1px solid #DEDEDE;
    width: 100px;
    height: 36px;
    font-size: 14px;
}

button.registerTableButton {
    width: 150px;
    height: 36px;
    border-radius: 2px;
    color: white;
    background-color: #C40000;
    border-width: 0px;
}


/*foreProduct*/
div.productPage{
    margin:10px 20px 0 20px;
}

div.imgAndInfo {
    margin: 10px 20px;
}
div.imgAndInfo img.bigImg {
    width: 300px;
    height: 450px;
    padding: 20px;
    border: 1px solid #F2F2F2;
}
div.imgAndInfo div.smallImageDiv {
    width: 80%;
    margin: 20px auto;
}
div.imgAndInfo img.smallImage {
    width: 93px;
    height: 68px;
    border: 2px solid white;
}

div.imgAndInfo img.smallImage:hover {
    border: 2px solid #773b09;
}
div.imgInImgAndInfo {
    width: 400px;
    float: left;
}
div.infoInImgAndInfo {
    padding: 0px 20px;
    margin-top: 25px;
    overflow: hidden;

}
div.infoInImgAndInfo div.productTitle {
    color: black;
    font-size: 26px;
    font-weight: bold;
    margin: 0px 10px;
}
div.param-tit{
    margin-top: 10px;
    position: relative;
    height: 28px;
    border-bottom: 1px solid #eee;
    line-height: 28px;
    width: 600px;
}
div.param-tit strong{
    float: left;
    padding-right: 8px;
    border-bottom: 3px solid #773b09;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    height: 26px;
    color: #2a0f03;
}
div.param-tit span.param-xi{
    position: absolute;
    right: 0;
    top: 0;
    color:#773b09;
}
div.productParam{
    padding:3px 0 15px 0;
    width: 600px;
}
div.productParam dl{
    position: relative;
    border-bottom: 1px dotted #c9c9c9;
    padding: 10px 0 0px 5px;
    margin-bottom: 10px;
    display: block;
}
div.productParam dl dt{
    position: absolute;
    font-size: 15px;
    padding-left:20px;
}
div.productParam dl dd{
    position: relative;
    margin-left: 100px;
    zoom: 1;
}
span.priceYuan {
    font-family: Arial;
    font-size: 18px;
    color: #C40000;
    /*     vertical-align: top; */
}
span.price {
    color: #c40000;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    /*     vertical-align: top; */
    /*     vertical-align: middle; */
}
div.buyDiv {
    text-align: center;
    margin-top:30px;
}
div.buyDiv button {
    display: inline-block;
    margin: 0px 10px;
    width: 180px;
    height: 40px;
}
button.buyButton{
    border: 1px solid #C40000;
    background-color: #FFEDED;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    /* 	font-weight:700; */
    color: #C40000;
    font-family: arial;
}
button.addCartButton{
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    /* 	font-weight:700; */
    color: white;
    font-family: arial;
}

/*productProperty*/
div.productDetailDiv {
    width: 790px;
    margin: 40px auto;
}
a.selected {
    border-left: 1px solid #cfbfb1;
    border-right: 1px solid #cfbfb1;
    color: #b10000;
    display: inline-block;
    font-weight: bold;
    line-height: 46px;
    width: 120px;
    text-align: center;
    position: relative;
}

a.selected:after {
    border-color: #b00000 transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -5px;
}
div.productParamterPart {
    border: 1px solid #DFDFDF;
    padding: 40px;
}

a.productDetailTopPartSelectedLink{
    padding: 0px 20px;
    border-right: 1px dotted #D2D2D2;
    color: #333333;
}
a.productDetailTopReviewLink {
    padding: 0px 20px;
    border-right: 1px dotted #D2D2D2;
    color: #333333;
}

div.productParamter{
    color: #999999;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
div.property_type{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
dl.productProperty{
    margin:5px 0px 5px 20px;
    position: relative;
    display: block;
}

dl.productProperty dt{
    position: absolute;
    font-size: 15px;
    padding-left:20px;
}
dl.productProperty dd{
    position: relative;
    margin-left: 100px;
    zoom: 1;
}

/*forecart*/
div.cartProductList{
    display:block;
    margin:5px 20px 5px 20px;
}
table.cartProductTable{
    width: 100%;
    font-size:12px;
}
table.cartProductTable th{
    font-weight: normal;
    color: #3C3C3C;
    padding: 20px 20px;
}
img.cartProductImg {
    padding: 1px;
    border: 1px solid #EEEEEE;
    width: 80px;
    height: 80px;
}

table.cartProductTable th.selectAndImage{
    width:150px;
}
img.cartProductItemIfSelected, img.selectAllItem {
    cursor: pointer;
}
table.cartProductTable th.operation{
     width:80px;
 }
tr.cartProductItemTR td {
    padding: 20px 20px;
}

tr.cartProductItemTR {
    border: 1px solid #CCCCCC;
}
a.cartProductLink {
    color: #3C3C3C;
}
span.cartProductItemOringalPrice {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #C40000;
}
div.cartFoot {
    background-color: #E5E5E5;
    line-height: 50px;
    margin: 20px 0px;
    color: black;
    padding-left: 20px;
}
span.cartSumNumber {
    color: #C40000;
    font-weight: bold;
    font-size: 16px;
}
span.cartSumPrice {
    color: #C40000;
    font-weight: bold;
    font-size: 20px;
}
div.cartFoot button {
    background-color: #AAAAAA;
    border: 0px solid #AAAAAA;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    /* 	border-radius: 2px; */
}

/*deleteConfirm*/

div.deleteConfirmModalDiv {
    width: 350px;
}
div.modal-footer{
    height: 40px;
}
button.btnClose{
    margin-right:80px;
}

/*buyList*/
div.buyPageDiv {
    margin: 20px auto;
    max-width: 1013px;
}
div.address {
    margin: 20px 5px;
    text-align: left;
}
div.addressTip, div.productListTip {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}
table.addressTable {
    margin: 20px 20px;
    width: 600px;
}
table.addressTable td.firstColumn {
    width: 100px;
}
table.addressTable td {
    color: #333333;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
    text-align: left;
    height: 30px;
    font-size:12px;
}
span.redStar {
    color: red;
    font-size: 8px;
}
table.addressTable td input {
    border: 1px solid #AFAFAF;
    width: 300px;
}
table.addressTable td textarea {
    border: 1px solid #AFAFAF;
    margin-bottom: 10px;
    width: 400px;
}
table.productListTable {
    width: 100%;
    border-collapse: separate;
}
table.productListTable th {
     font-family: ����;
     font-weight: normal;
     font-size: 12px;
     text-align: center;
     padding-bottom: 5px;
 }
table.productListTable tr.rowborder td {
    background-color: #b2d1ff;
    border-right: 2px solid #fff;
    height: 3px;
}
img.orderItemImg {
    width: 100px;
    height: 100px;
    border: 1px solid #E9E9E9;
}
tr.orderItemTR td {
    padding: 10px 0px;
}
a.orderItemProductLink {
    color: #666666;
    display: block;
}
a.orderItemProductLink:hover {
    color: #666666;
    text-decoration: underline;
}
td.orderItemProductInfo {
    text-align: center;
}
span.orderItemProductPrice, span.orderItemProductNumber {
    color: #000000;
}
span.orderItemUnitSum {
    color: #CC0000;
    font-weight: bold;
}
tr.orderItemTR td {
    border-bottom: 1px solid #E5E5E5;
}
tbody.productListTableTbody td {
    text-align: center;
    font-size:15px;
}
div.orderItemTotalSumDiv {
    margin: 40px;
    height: 40px;
}
div.orderItemTotalSumDiv div{
    position: absolute;
   right:300px;
    padding-top:20px;
}
span.orderItemTotalSumSpan {
    color: #C40000 !important;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px dotted #F2F6FF;
    margin:18px 5px 0px 0px;
}
button.submitOrderButton {
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    float: right;
}

/*alipay*/
div.aliPayPageDiv {
    text-align: center;
    padding-bottom: 40px;
    max-width: 1013px;
    margin: 10px auto;
}

span.confirmMoneyText {
    color: #4D4D4D;
}

span.confirmMoney {
    display: block;
    color: #FF6600;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
img.aliPayImg {
    /* 	width:230px; */
    /* 	height:230px;	 */

}
button.confirmPay {
    background-color: #00AAEE;
    border: 1px solid #00AAEE;
    text-align: center;
    line-height: 31px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    width: 107px;
    margin-top: 20px;
}

div.payedDiv {
    border: 1px solid #D4D4D4;
    max-width: 1013px;
    margin: 10px auto 20px auto;
}

div.payedTextDiv {
    height: 61px;
    background-color: #ECFFDC;
    padding: 17px 0px 0px 25px;
}

div.payedTextDiv span {
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}

div.payedAddressInfo {
    padding: 26px 35px;
}

div.payedAddressInfo li {
    background-image: url("../../img/site/li_dot.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: 0px 13px;
    list-style-type: none;
    color: #333333;
    padding-left: 15px;
    padding-top: 5px;
    /* 	background: rgba(0, 0, 0, 0) url("../../img/site/li_dot.png") no-repeat scroll 0 13px; */
}

span.payedInfoPrice {
    color: #B10000;
    font-weight: bold;
    font-size: 14px;
    font-family: arial;
}

a.payedCheckLink {
    color: #2D8CBA;
}

a.payedCheckLink:hover {
    color: #2D8CBA;
    text-decoration: underline;
}

div.payedCheckLinkDiv {
    margin-left: 38px;
}

div.payedSeperateLine {
    border-top: 1px dotted #D4D4D4;
    margin: 0px 31px;
}

div.warningDiv {
    margin: 23px 45px;
}

div.warningDiv {
    color: black;
}

/*bought*/

div.boughtDiv {
    max-width: 1013px;
    margin: 10px auto;
}
div.orderType div.selectedOrderType {
    border-bottom: 2px solid #C40000;
}
div.orderType div {
    border-bottom: 2px solid #E8E8E8;
    float: left;
}
table.orderListTitleTable {
    border: 1px solid #E8E8E8;
    width: 100%;
    margin: 20px 0px;
    background-color: #F5F5F5;
    text-align: center;
}
table.orderListTitleTable td {
    padding: 12px 0px;
}
div.orderType a {
    border-right: 1px solid #E8E8E8;
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    padding: 0px 20px;
    text-decoration: none;
}
div.orderType div.selectedOrderType a {
    color: #C40000;
}
div.orderType a:hover {
    color: #C40000;
    text-decoration: none;
}
div.orderTypeLastOne {
    overflow: hidden;
    float: none !important;
    border-bottom: 2px solid #E8E8E8;
}
a.noRightborder {
    border-right-width: 0px !important;
}
table.orderListItemTable {
    border: 2px solid #ECECEC;
    width: 100%;
    margin: 20px 0px;
}
table.orderListItemTable:hover {
    border: 2px solid #aaa !important;
}
tr.orderListItemFirstTR {
    background-color: #F1F1F1;
    font-size:12px;
}
table.orderListItemTable td {
    padding: 8px 10px;
}
span.orderListItemDelete {
    display: inline-block;
    margin: 0px 10px;
    color: #999999;
    font-size: 16px;
}
div.orderListItemProductLinkOutDiv {
    font-size:18px;
}
div.orderListItemProductLinkOutDiv a{
    color: black;
    text-decoration: none;
}
div.orderListItemProductLinkOutDiv a:hover{
    color: #C40000;
    text-decoration: none;
}
div.orderListItemProductPrice {
    color: #3C3C3C;
    font-size: 14px;
}
td.orderListItemProductRealPriceTD {
    text-align: center;
}
button.orderListItemConfirm {
    background-color: #66B6FF;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-width: 0px;
    padding: 6px 12px;
}
button.orderListItemConfirm:hover {
    background-color: #118ADB;
}
td.orderItemDeleteTD {
    text-align: right;
}
td.orderListItemButtonTD {
    text-align: center;
}
td.orderListItemNumberTD {
    text-align: center;
}
td.orderItemOrderInfoPartTD {
    border: solid 1px #ECECEC;
    padding-top:35px !important;
}
tr.orderItemProductInfoPartTR{
    background-color: #fff;
}
/*userCenter*/

div.user_center{
    width:80%;
    margin:0px auto;
}
img.user-img{
    position:absolute;
}
div.ProfileHeader-title{
    margin-left:160px;
    padding:50px 0 10px 30px;
}
span.FullnameField-name{
    display: inline-block;
    height: 30px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}
div.ProfileEdit-fields {
    margin-left:160px;
    padding-left:10px;
    padding-bottom: 100px;
    margin-top: 10px;
}
div.ProfileEdit-fields form.Field {
    padding: 30px 0;
    border-bottom: 1px solid #FFFFFF;
}
h1.Field-label{
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 36px;
    color: #444;
    margin: 0;
    font: inherit;
    font-weight: bold;
}
div.Field-content{
    padding-left:144px;
}
button.user-editButton{
    margin-top:20px;
    margin-left:10px;
}
input.Field-text{
    border:0px;
    background-color: #eee;
}