<div  th:fragment="html">
    <script>
        $(function(){
            var bid=getUrlParms("bid");
            var data4Vue={
                uri:'brandProduct',
                brand:[],
                category:{bid:0,sex:'',core:'',shell:''},
                products:'',
            };
            var vue=new Vue({
                el:'#workingArea',
                data:data4Vue,
                mounted:function () {
                    this.load();
                },
                methods:{
                    load:function () {
                        var url=this.uri+"/"+bid;
                        axios.get(url).then(function (response) {
                            vue.brand=response.data;
                            vue.products=vue.brand.products;
                        })
                    },
                    selectBySex:function(sex){
                        this.category.sex=sex;
                        this.select();
                    },
                    selectByCore:function (core) {
                        this.category.core=core;
                        this.select();
                    },
                    selectByShell:function (shell) {
                        this.category.shell=shell;
                        this.select();
                    },
                    select:function () {
                      this.category.bid=vue.brand.id;
                      var url='selectedProducts';
                      axios.post(url,this.category).then(function (response) {
                          vue.brand=response.data;
                          vue.products=vue.brand.products;
                      })
                    },
                },
            });
        })
    </script>
    <div th:replace="include/fore/brand/brandNavigator::html"></div>
    <div class="brandProducts">
        <div th:replace="include/fore/brand/categoryBar::html"></div>
        <div th:replace="include/fore/brand/product::html"></div>
    </div>
</div>