<div  th:fragment="html">
    <div class="brandProducts">
        <div th:replace="include/fore/brand/categoryBar::html"></div>

        <div class="productItem" v-for="p,index in brand.products" :price="p.price">
        <a :href="'product?pid='+p.id">
            <img  :src="'img/productSingle/'+p.firstProductImage.id+'.jpg'">
        </a>
        <a class="productItemDescLink" :href="'product?pid='+p.id">
                    <span class="productItemDesc">
                        {{p.name}}
                    </span>
        </a>
        <span class="productPrice">
                    ¥{{p.price | formatMoneyFilter}}
                </span>
    </div>
    </div>
</div>