<nav class="top"  th:fragment="html">
    <a th:href="${application.contextPath}">
        <span style="color:	#F0F8FF;margin:0px" class=" glyphicon glyphicon-home"></span>
        首页
    </a>
    <span style="color: #F0F8FF">来啦老弟</span>
    <span th:if="${null!=session.user}">
		<a th:href="'userCenter?id='+${session.user.id}"  th:text="${session.user.name}" ></a>
		<a href="forelogout" >退出</a>
	</span>
    <span th:if="${null==session.user}">
		<a href="login">请登录</a>
		<a href="register">免费注册</a>
	</span>

    <span class="pull-right">
			<a href="bought">我的订单</a>
			<a href="cart">
			<span style="color:#F0F8FF;margin:0px" class=" glyphicon glyphicon-shopping-cart redColor"></span>
			购物车<strong th:text="${session.cartTotalItemNumber}"></strong>件</a>
	</span>
</nav>