<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html" ></head>
<body>
<script>
    $(function(){
        var data4Vue={
            user:{name:'',code:'',email:'',password:'',repeatPassword:''},
        };
        var vue = new Vue({
            el:'#workingArea',
            data:data4Vue,
            mounted:function () {
            },
            methods:{
                sendCode:function () {
                    var url='passwordCode';
                    if(0==this.user.email.length){
                        $("span.errorMessage").html("请输入邮箱地址");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    if(!checkEmail(this.user.email)){
                        $("span.errorMessage").html("非有效邮箱地址");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    axios.post(url,this.user).then(function (response) {
                        var result=response.data;
                        $("span.errorMessage").html("请稍候");
                        if(result.code==0){
                            $("span.errorMessage").html('发送成功，请检查邮箱');
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                        }
                        else{
                            $("span.errorMessage").html(result.message);
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                        }
                    })
                },
                register:function () {
                    if(0==this.user.email.length){
                        $("span.errorMessage").html("请输入邮箱地址");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    if(0==this.user.password.length){
                        $("span.errorMessage").html("请输入密码");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    if(0==this.user.repeatPassword.length){
                        $("span.errorMessage").html("请输入重复密码");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    if(this.user.password !=this.user.repeatPassword){
                        $("span.errorMessage").html("重复密码不一致");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    if(0==this.user.code){
                        $("span.errorMessage").html("请输入验证码");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    if(!checkEmail(this.user.email)){
                        $("span.errorMessage").html("非有效邮箱地址");
                        $("div.loginErrorMessageDiv").css("visibility","visible");
                        return;
                    }
                    var url='ResetPassword';
                    axios.post(url,this.user).then(function(response){
                        var result=response.data;
                        $("span.errorMessage").html("请稍候");
                        if(result.code==0){
                            location.href="passwordSuccess";
                        }
                        else{
                            $("span.errorMessage").html(result.message);
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                        }
                    });
                },
            },
        });
    })
</script>
<div id="workingArea">
    <div id="loginDiv" style="position: relative">
        <img style="height: 50px;width:50px;" id="loginBackgroundImg" class="loginBackgroundImg" src="img/site/logo.jpg">
        <div id="loginSmallDiv" class="loginSmallDiv">
            <div class="loginErrorMessageDiv">
                <div class="alert   alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span class="errorMessage"></span>
                </div>
            </div>

            <table class="registerTable" align="center">
                <tr>
                    <td class="registerTableLeftTD">邮箱地址</td>
                    <td  class="registerTableRightTD"><input @keyup.enter="register" v-model="user.email" placeholder="邮箱地址非用户名" > </td>
                </tr>
                <tr>
                    <td class="registerTableLeftTD">新密码</td>
                    <td class="registerTableRightTD"><input @keyup.enter="register" v-model="user.password"  type="password"  placeholder="设置你的登陆密码" > </td>
                </tr>
                <tr>
                    <td class="registerTableLeftTD">密码确认</td>
                    <td class="registerTableRightTD"><input @keyup.enter="register" v-model="user.repeatPassword"   type="password"  placeholder="请再次输入你的密码" > </td>
                </tr>
            </table>
            <div class="registerButtonTD">
                <input @keyup.enter="register" v-model="user.code"  placeholder="请输入验证码">
                <button class="registerTableButton" @click="sendCode">发送验证码</button>
            </div>
            <div class="registerButtonTD">
                <button class="registerTableButton" @click="register">提   交</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>