<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html" ></head>
<body>
<script>
    $(function () {
        var vue=new Vue({
            el: '#workingArea',
            mounted: function () {
            },
            methods: {
                back: function () {
                    location.href = "login";
                }
            },
        })
        var left = window.innerWidth/2+162;
        $("div.loginSmallDiv").css("left",left);
    })
</script>
<div id="workingArea">
    <div id="loginDiv" style="position: relative">
        <img style="height: 50px;width:50px;" id="loginBackgroundImg" class="loginBackgroundImg" src="img/site/logo.jpg">
        <div id="loginSmallDiv" class="loginSmallDiv">
            <div class="registerSuccessDiv">
                <img src="img/site/registerSuccess.png">
                新密码设置成功
            </div>
            <button class="sign-in-button"  @click="back">
                <span id="sign-in-loading"></span>返回登录界面
            </button>
        </div>
    </div>
</div>
</body>
</html>